<div style="margin: 5vw" *ngIf="hideEditForm">
  <div class="img">
    <img src="assets/Logo.jpg" alt="Vendor" class="logo" />
  </div>
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="sortProductWithObjectLiterals($event)"
    matSortActive="id"
    matSortDirection="asc"
    matSortDisableClear
    product-table
    class="mat-elevation-z10"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>
        <div class="center-header">Product No.</div>
      </th>
      <td mat-cell *matCellDef="let product">{{ product.id }}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef>
        <div class="center-header">Name</div>
      </th>
      <td mat-cell *matCellDef="let product">{{ product.name }}</td>
    </ng-container>
    <ng-container matColumnDef="vendorId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div class="center-header">Vendor</div>
      </th>
      <td mat-cell *matCellDef="let product">{{ product.vendorid }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="select(row)"
    ></tr>
  </table>
  <div
    style="
      margin-top: 2vh;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    "
  >
    <mat-paginator
      style="margin: 0; padding: 0"
      [pageSize]="pageSize"
      *ngIf="hideEditForm"
      #paginator
    ></mat-paginator>
  </div>

  <div>
    <mat-icon
      (click)="newProduct()"
      matTooltip="Add New Product"
      class="addicon"
      color="primary"
    >
      control_point
    </mat-icon>
  </div>
</div>

<mat-card *ngIf="!hideEditForm">
  <mat-card-content>
    <app-product-detail
      [selectedProduct]="productInterface"
      [vendors]="vendors"
      [products]="products"
      (cancelled)="cancel('cancelled')"
      (saved)="save($event)"
      (deleted)="delete($event)"
    ></app-product-detail>
  </mat-card-content>
</mat-card>

<div class="my-accent-text align-right">
  {{ msg }}
</div>
